* {
    margin: 0;
    padding: 0;
}

.inputCls {
    width: 100%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 1px 0.5px #858585;
    border: 1px solid #474f5d;
    font-size: 20px;
}

#title1 {
    color: #4283eb;
    margin-top: 30px;
    margin-bottom: 60px;
}

.listItems {
    text-align: left !important;
    width: 90%;
    margin: 40px auto 10px auto;
}

#container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.buttonCls {
    padding: 12px 10px;
    width: 30%;
    border-radius: 4px;
    background-color: #2d5ca7;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

#buttonBack {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    width: 6vw !important;
}

#buttonNext {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 6vw !important;
}

.urlsList {
    margin-bottom: 20px;
}

.readmeList {
    font-family: consolas, "Liberation Mono", courier, monospace;
    background-color: #e3e4e6;
    margin: 4px, 4px;
    padding: 4px;
    width: 70vw;
    height: 26vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}