<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>

<body>
    <h1>Error: {{error}}</h1>
	<h2>Please Try Again</h2>
    <h3>Make sure you call the keyword parameter "k" and the integer page parameter "p"</h2>
	<h3>For example: /get_readmes?k=huggingface&p=0</h3>
</body>

</html>